doctype html
div(style="width:300px;")
    div([hidden]='!edit')
        .input-group
            input.form-control(type="text" value="{{data.value}}" #localUpdate)
            span.input-group-btn
                button.btn.btn-default(type='button', (click)='emitValue($event, localUpdate.value)') OK
                button.btn.btn-default(type='button', (click)='toggleInput()') X
    div([hidden]='edit', (click)='toggleInput()') {{data.value}}