h1
  | R.A.T.T : Station Locations!
span([hidden]='!isLoading') Getting data...
span([hidden]='error') {{error}}
span([hidden] = '!toBeSaved')
  button.btn.btn-success.btn-block((click)='save()') Save
.form-group
  label Location Filter
  input.form-control(type='text' #inputFilter (keyup)="0")
table.table([hidden]='isLoading')
  thead
    tr
      th ID
      th Name
      th Latitude
      th Longitude
  tbody
    tr(*ngFor='let location of locations | locationFilter:inputFilter.value')
      td {{location.id}}
      td {{location.name}}
      td 
        content-editable([data]='getData(location, "latitude")', [(edit)] = 'location.editable', (valueEmitter)='valueListener($event)')
      td 
        content-editable([data]='getData(location, "longitude")', [(edit)] = 'location.editable', (valueEmitter)='valueListener($event)')
